{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Login Form{% endblock %}
{% block main %}
    <h2>Hello world</h2>
    <form id="newNote" class="newnote_content" method="POST" action="">
        {% csrf_token %}
        <label for="idMysql" class="form-field__label_id">ID</label>
        <input id="idMysql" type="text" class="form-field__input_id" name="idMysql" value="new"><br>
        <label for="dateMysql" class="form-field__label_id">Дата</label>
        <input id="dateMysql" type="text" class="form-field__input_date" value="old" name="dateMysql"><br>
        <button id="return" class="json_button" type="submit" value="return">Вернуться в main</button>
    </form>
    <script src="{% static 'main/js/checkPost.js' %}" type="module"></script>
{% endblock %}